<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/../public/bootstrap-5.3.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/../public/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/../public/styles.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/footers/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <title>Stades Phénologiques de l'Olivier</title>
</head>
<body class="light-mode">
    <div class="site">
      
    <!--------------------------LA PARTIE MAIN---------------------------------------------------------------------------->
    <!-- La bar de Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary position-fixed" style="width: 100%; z-index: 999;">
      <div class="container-fluid">
          <a class="navbar-brand d-flex justify-content-between align-items-center" href="#">
              <img src="../images/logo.png" alt="Logo du site" width="80" height="80" class="d-inline align-top">
              <h1 class="f">OliZen</h1>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample05">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/index">Accueil</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Definitions</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/recolte">Récolte</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Agenda</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/contact">Contactez-nous</a>
                  </li>
                  <button type="button" class="btn btn-warning py-2 me-2" id="navigateButton">Connexion</button>
                  <div class="dropdown">
                      <button class="btn btn-dark dropdown-toggle" type="button" id="themeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                          Theme
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="themeDropdown">
                          <li>
                              <a class="dropdown-item d-flex justify-content-between align-items-center" href="#" id="lightMode">
                                  <!-- Light Mode Icon -->
                                  <span>Light Mode</span>
                              </a>
                          </li>
                          <li>
                              <a class="dropdown-item d-flex justify-content-between align-items-center" href="#" id="darkMode">
                                  <!-- Dark Mode Icon -->
                                  <span>Dark Mode</span>
                              </a>
                          </li>
                      </ul>
                  </div>
              </ul>
          </div>
      </div>
  </nav>
  <!--------------------------------------FIN NAVBAR-------------------------------------------------------------------------------------------------------->
        <div class="main" id="Accueil">
        <!-- Le partie central du titre -->
            <div class="titre">
              <h4>Bienvenue Avec YouCode</h4>
              <h1>Stades Phénologiques de l'Olivier</h1>
              <h5>Notre page web avec tout ce que vous cherchez à propos le developpement des olives</h5>
            </div>
         <div class="buttons">
          <button type="button" class="btn btn-success btn-lg">Découvrez plus</button>
         </div>
        </div>
        <!--------------------------LA PARTIE INTERET---------------------------------------------------------------------------->
        <div class="boite" id="interet">
            <img src="https://picsum.photos/300" alt="image d'un vase">
            <div class="text-interet">
                <h1>Notre Intéret</h1>
                <p>Notre intérêt est de fournir aux utilisateurs un site web dédié aux Stades Phénologiques de l'Olivier, les aidant à identifier ces plantes, à comprendre leur impact écologique et à apprendre des méthodes efficaces de gestion.</p>
                <span id="trai-interet"></span>
                <p>Notre site donne les détails de ce cycle .</p>
            </div>
        </div>
        <!--------------------------LA PARTIE INTRODUCTION--------------------------------------------------------------->
        <div class="container-fluid"></div>
        <!--------------------------LA PARTIE FEATURES WITH TITLE--------------------------------------------------------------->
        <div class="container px-4 py-5 ">
            <!-- <h2 class="pb-2 border-bottom">Features with title</h2> -->
        
            <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5 text-ft">
              <div class="col d-flex flex-column align-items-start gap-2" id="text-ft">
                <h2 class="fw-bold text-body-emphasis">Stades de Développement de l'Olivier</h2>
                <p class="text-body-secondary">C'est la partie parlant des différents stages du Cycle de Vie
                    de l'Olivier , ainsi les étapes clés de la nourriture de cette plante</p>
                <a href="#" class="btn btn-success btn-lg">Découvrez plus</a>
              </div>
        
              <div class="col">
                <div class="row row-cols-1 row-cols-sm-2 g-4">
                  <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-success bg-gradient fs-4 rounded-3">
                      <i class="fa-solid fa-plant-wilt"></i>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Débourrement</h4>
                    <p class="text-body-secondary">Conditions climatiques nécessaires.</p>
                  </div>
        
                  <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-success bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-tree"></i>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Floraison</h4>
                    <p class="text-body-secondary">Facteurs influençant la floraison.</p>
                  </div>
        
                  <div class="col d-flex flex-column gap-2">
                    <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-success bg-gradient fs-4 rounded-3">
                        <i class="fa-brands fa-pagelines"></i>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Nouaison</h4>
                    <p class="text-body-secondary">Importance de la nouaison pour la production.</p>
                  </div>
                  
                  <div class="col d-flex flex-column gap-2">
                      <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-success bg-gradient fs-4 rounded-3">
                        <i class="fa-solid fa-seedling"></i>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Maturation</h4>
                    <p class="text-body-secondary">Comment savoir les signes de maturité.</p>
                </div>
            </div>
        </div>
            </div>
          </div>
        <!--------------------------LA PARTIE MACHINE---------------------------------------------------------------------------->
          <div class="tech">
            <div class="tech-content">
                <h2 class="tech-header">Les Différents Technologies et machines de recoltes d'olives</h2>
                <button type="button" class="btn btn-secondary py-2">Savoir plus</button>
            </div>
          </div>
        <!--------------------------LA PARTIE CARDS---------------------------------------------------------------------------->
        <div class="container px-4 py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom">Production Dans le <span style="color: #e33;">Ma</span><span style="color: #191;">roc</span></h2>
            
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('images/meknes.jpg'); background-size: cover;">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-center">Fes Meknes</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <img src="https://picsum.photos/300" alt="Meknes olives" width="32" height="32" class="rounded-circle border border-white">
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                        <small>Meknes</small>
                      </li>
                      <li class="d-flex align-items-center">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                        <!-- <small>more</small> -->
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('images/marrakech-safi.jpg');">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-center">Marrakech Safi</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <img src="https://picsum.photos/300" alt="Marrakech Safi" width="32" height="32" class="rounded-circle border border-white">
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                        <small>Safi</small>
                      </li>
                      <li class="d-flex align-items-center">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                        <small>4d</small>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
        
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('images/tadla-azilal.webp');">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-center">Tadla Azilal</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <img src="https://picsum.photos/300" alt="Tadla Azilal" width="32" height="32" class="rounded-circle border border-white">
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                        <small>Azilal</small>
                      </li>
                      <li class="d-flex align-items-center">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                        <small>5d</small>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!--------------------------LA PARTIE FOOTER---------------------------------------------------------------------------->
        <div class="container-fluid">
            <footer class="py-3 my-4">
              <ul class="nav justify-content-center border-bottom pb-3 mb-3 footer-links">
                <li class="nav-item"><a href="#" class="nav-link px-2">Accueil</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">A Propos</a></li>
              </ul>
              <div class="d-flex justify-content-evenly align-items-center">
                <p class="text-center">&copy; 2024 YouCode, Inc</p>
                <ul class="nav justify-content-between align-items-center mb-3 social-media">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><i class="fa-brands fa-facebook fs-4" id="facebook"></i></a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><i class="fa-brands fa-youtube fs-4" id="youtube"></i></a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><i class="fa-brands fa-github fs-4" id="github"></i></a></li>
                  </ul>
              </div>
            </footer>
          </div>
    </div>
  <!-----------------------------------LA PARTIE SCRIPT------------------------------------------------------------------->
  <script src="/scripts/main.js"></script>
  <script src="/public/bootstrap-5.3.3-dist/js/bootstrap.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>