@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root {
    /* Couleurs du mode clair */
    --bg-color: #f8f9fa;
    --text-color: #212529;
    --secondary-text-color: #555555;
    --accent-color: #007BFF;
  
}
[data-theme="dark"]{
    --bg-color: #2b3035;
    --text-color: #dee2e6;
    --secondary-text-color: #A0A0A0;
    --accent-color: #BB86FC;
  }
  ::selection{
    background-color: var(--text-color);
    color: var(--bg-color);
  }
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Manrope", sans-serif;
    background-color: var(--bg-color) !important;
    color: var(--text-color);
}
.main{
    background-image: url(/images/olive-background-1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.main::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.titre{
    color: #fefefe;
    text-align: center;
    z-index: 1;
}
.titre h1 , .titre h4 , .titre h5{
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 1px;
    line-height: 1.3;
}
.titre h1:hover , .titre h4:hover , .titre h5:hover{
    transform: scale(1.1);
}
.buttons{
    z-index: 1;
    position: absolute;
    bottom: 100px;
    margin: 0 auto;
}
.buttons button:hover{
    color: #fefefe;
}
/*----------------LA PARTIE INTERET--------------*/
.boite{
    height: 370px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #f9f9f9; */
    padding: 70px 40px;
}
.boite div{
    text-align: center;
    letter-spacing: 1px;
}
.boite div h1{
    color: var(--text-color);
}
.boite div p{
    font-size: 16px;
}
.text-interet{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    color: var(--text-color);
}
.text-interet span{
    height: 1.5px;
    width: 60%;
    background-color: var(--secondary-text-color);
    margin-bottom: 15px;
}
#interet img{
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
/*----------------LA PARTIE FEATURE--------------*/

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }
  .text-ft h2, .text-ft h4{
    color: var(--text-color) !important;
  }
  .text-ft p{
    color: var(--secondary-text-color) !important;
  }
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .feature-icon-small {
    width: 3rem;
    height: 3rem;
  }
/*----------------LA PARTIE TECHNOLOGY--------------*/
 .tech{
    height: 500px;
    background-image: url(/images/machine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 }
 .tech::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 1;
  }
 .tech-content {
    z-index: 2; /* Ensure content is above the overlay */
    color: #fefefe;
}
 .tech-content button {
    margin-top: 50px;
}
/*----------------LA PARTIE FOOTER--------------*/
footer i{
    transition: 0.2s;
}
#facebook:hover{
    color: #1877F2;
}
#youtube:hover{
    color: #ff0000;
}
#github:hover{
    color: #222;
}
.footer-links a ,footer p{
    color: var(--secondary-text-color);
}
/**Page defintition   **/
#intro{
    margin-top: 150px;
}
.paragraphL{
    display: flex;
    float: left;
    position: relative;
    width: 50%;
    height: fit-content;
    text-align: justify;
    padding: 5%;
}

.paragraphR{
    display: flex;
    float: right;
    position: relative;
    width: 50%;
    height: fit-content;
    text-align: justify;
    padding: 5%;
}

.paragraph{
    display: flex;

    position: relative;

    height: fit-content;
    text-align: justify;
    padding: 5%;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.img{
    width: 50%;
    height: 400px;
    padding: 5%;
}

#map{
    height: 300px;
}

.table{
    margin-left: 30%;

}

#tronc{
    width: 50%;

}

.pic{
    display: flex;

    .column{
        flex: 1;
        padding: auto;

        .img{
            width: 90%;
            height:100%;
            border-top-right-radius: 30%;
            border-bottom-left-radius: 30%;
        }
    }
}
/********************LA PAGE recolte********************************************/
#sidebar{
    background-color: var(--bg-color) !important;
}
#sidebar span , #sidebar i{
    color: var(--text-color);
}
#Méthodes p , #Méthodes li{
    color: var(--secondary-text-color);
}
#Méthodes h4{
    color: var(--text-color);
}
#Méthodes h3{
    color: var(--accent-color);
}
/********************LA PAGE contact********************************************/
#contact h6{
    color: rgb(104, 208, 0);
    letter-spacing: 0.7px;
}
#contact h1{
    color: var(--text-color);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 50px;
}
.logo-contact{
    background: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.logo-contact i{
    color: var(--bg-color);
}
.adress,.phone,.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}
.adress *,.phone *,.email *{
    margin: 10px;
}
.contact-items h3{
    color: var(--text-color);
    letter-spacing: 1px;
}
.contact-items p{
    color: var(--secondary-text-color);
    font-size: 18px;
    letter-spacing: 1px;
}
/*****************************************************************************************************/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }
  /***********************LA PARTIE STADE*************************************************/
#stade-main{
    background-image: url(/images/stade-bg.jpg);
}
.main-stade::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.stade-titre{
    height: 100%;
    width: 100%;
    z-index: 999;
}
.introduction-global{
    letter-spacing: 1px;
}
.introduction-global h3{
    color: var(--text-color);
}
.introduction-global p{
    word-spacing: 1px;
    color: var(--secondary-text-color);
}
.stade-header + h1{
    color: var(--text-color);
}
#sticky-nav {
    background-color: #39785e;
    position: -webkit-sticky; /* Pour les navigateurs Webkit (Safari, Chrome) */
    position: sticky;
    top: 0;
    z-index: 1000;
}

#sticky-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#sticky-nav ul li {
    width: 14.5%;
    height: 100px;
    text-align: center;
}

#sticky-nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
#sticky-nav ul a:hover{
    background-color: #255d45;

}

.croissance {
    padding: 20px;

}
.croissance section:not(#maturite){
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px 75px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--text-color);
}
.croissance section:nth-child(1){
    margin-top: 10px;
    margin-bottom: 75px;
}
.croissance .partie-droite{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.croissance .partie-droite img{
    height: 100%;
    width: 200px;
    border: 2px solid var(--text-color);
}
#maturite{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px 75px;
    border: 1px solid var(--text-color);
}
#maturite section{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px 75px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--text-color);
}
@media screen and (max-width : 800px){
    #sticky-nav {
        position: static;
    }
    #sticky-nav ul {
        flex-direction: column;
    }
    
    #sticky-nav ul li {
        width: 100%;
        height: 70px;
    }
    
}